@import "tailwindcss";
@import "@fontsource-variable/outfit";

@plugin "tailwindcss-react-aria-components";

@theme {
  --font-display: "Outfit Variable", "sans-serif";
  --color-turquoise-500: oklch(0.74 0.12 190.72);
  --color-turquoise-400: oklch(0.86 0.12 191.79);

  --color-orange-500: oklch(0.8 0.15 78.53);
  --color-orange-400: oklch(0.86 0.14 81.15);

  --color-dark-slate-500: oklch(0.27 0.03 233.74);
  --color-dark-slate-400: oklch(0.32 0.03 229.92);

  --color-steel-500: oklch(0.79 0.03 225.8);
  --color-steel-400: oklch(0.92 0.02 222.69);

  --radius-2xl: 15px;
  --radius-xl: 10px;

  --inset-shadow-lg: inset 0px -8px 0px rgba(0 0 0 / 0.25);
  --inset-shadow-md: inset 0px -4px 0px rgba(0 0 0 / 0.25);

  --color-transform-properties:
    color, background-color, border-color, outline-color, text-decoration-color,
    fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to,
    transform, translate, scale, rotate;
}
